@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url("../font/HhyaU5sn9vOmLzlmC_E.eot");
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url("../font/XRXV3I6Li01BKof4Mw.eot");
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("../font/TK3iWkUHHAIjg75GHw.eot");
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../font/pxiEyp8kv8JHgFVrFJE.eot");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../font/KFOmCnqEu92Fr1Me5A.eot");
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Futura.ttc");
}
@font-face {
  font-family: 'lantinghei';
  font-style: normal;
  font-weight: 400;
  src: url("../font/lantinghei.ttf");
}
